body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/Modul_183/Arbeit M183 2/img/Bubbles\ Bathing\ GIF.gif') no-repeat center center fixed; /* Stelle sicher, dass der Pfad stimmt */
    background-size: cover;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
}

input {
    display: block;
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.language-selector {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 14px;
}

.language-selector select {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}